/* resets */

* {
    padding: 0;
    margin: 0;
}

body, html {
    background: #333;
    height: 100%;
}


/* displays nav bar elements side by side and adds a background color to them */

header.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(119, 255, 141);
}


/* gets rid of bullet points in nav bar and displays list items side by side */
header.main-header nav ul {
    display: flex;
    list-style-type: none;
}

/* centers nav bar items slightly left of right side of screen */
header.main-header nav ul li a {
    margin: 0 20px;
    text-decoration: none;
    color: black;
}

/* two main section elements displayed side by side with a background behind them */
main.my-main {
    display: flex;
    height: 100%;
    background: teal;
    color: white;
}

/* side section for main element, adds margin to show the background color of the parent element, also adds a background color to this element */
main section#aside {
    background: blueviolet;
    margin: 10px;
    flex: 1;
}

/* main section for main element, adds margin to show background of parent element */
main section#content-main {
    display: flex;
    flex-direction: column;
    background: blue;
    flex: 3;
    margin: 10px;
    justify-content: space-between;

}

/* aligns text in the main  */
main section#content-main p {
    text-align: center;
}

/* gives a border and height to the articles inside of sections inside mains */
main section article {
    border: 1px solid black;
    height: 40%;
}

/* displays the elments in a column at the center of the footer */
footer.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}
